[Unit]
Description=ydotoold service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/ydotoold --socket-own="1000:1000" -m
Restart=on-failure

[Install]
WantedBy=multi-user.target
